.meeting-select-options {
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 10px;
    justify-content: space-between;

    .mat-form-field {
        flex: 1;
        margin: 10px;
    }
}