.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
    background-color: #336bb2;

    * {
        color: white;
    }

    .account-info {
        margin-left: 20px;
    }

    .link {
        text-decoration: none;
        padding: 10px;
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 10px;
        }
    }

    .active-link {
        background-color: #265187;
    }
}